{% extends 'base.html.twig' %}

{% block title %}Diabie - Mon suivi{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Mes glycémies <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Mes infos</a>
        <a class="nav-item nav-link" href="#">Deconnexion</a>
      </div>
    </div>
  </nav>

  <a href=" {{ path('bloodsugarAdd') }}"><h2> Ajouter une glycemie </h2></a>
  {# <div class= "container">
    {{ form_start(formView) }}
    {{ form_widget(formView) }}
    <button class="btn btn-primary" type="submit">Valider</button>
    {{ form_end(formView) }}
    </div> #}

    <table>
        <tr>
          <th>Date</th>
          <th>Taux</th>
          <th>Status</th>
        </tr>
        {% for bloodsugar in user.bloodsugars %}
        <tr>
            <td> {{ bloodsugar.date| date('d/m/Y')}}</td>
            <td> {{ bloodsugar.rate}}</td>
            <td> {{ bloodsugar.score}}</td>
        </tr>
        {% endfor %}
        
      </table>      


        
{% endblock %}
